@import "variable";
html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: $primary_font;
    scroll-behavior: smooth;
    background-color: $background;
}
body{
    background-color: $background!important;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header {
    display: none;
    background-color:  $background;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 99;
    .nav-custom {
        color: $main_color;
        font-family: $primary_font;
        svg {
            color: $main_color;
            font-size: 36px;
        }
        
    }
    .navbar-nav-custom{
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        .nav-item {
            flex: 0 0 15%;  
            .nav-link{
                color: $main_color;
            }
        }
    }
}

.back-to-top{
    font-size: 40px;
    color: $main_color;
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 10;
    opacity: 0.8;
}

